<app-datepicker
	[title]="
		this.selectedFromDate() && this.selectedToDate()
			? 'з ' + this.selectedFromDate() + ' по ' + this.selectedToDate()
			: 'Період видачі кредитів'
	"
	[type]="'issuance'"
	(dateSelected)="onDateSelected($event)"
></app-datepicker>

<hr />
<div class="boards">
	@for (board of shortboards; track board.id) {
	<app-shortboard [board]="board"></app-shortboard>
	}
</div>
<div class="tables">
	@for(table of tables; track table.id) {
	<app-table [table]="table"></app-table>
	}
</div>
